body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dddddd;
}

.contenedor{
    width: 90%;
    margin : 0 auto;
}

ul{
margin: 0;
padding: 0;
list-style: none;
}

figure{
    margin: 0;
}

.logo{
    align-self: center;
}


.cabecera{
    background-color: #411f1f ;
    border: 1px solid #dddddd;
    border-radius: 1em;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    height: 8em;
}

.menu{
    height: inherit;
}



.cabecera ul{
    display: flex;
    height: inherit;
}

.cabecera ul li{
    height: inherit;
}


.cabecera a{
    color:  #ffcb8e;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 1em;
}


.yo{
    background-image: url("../imagenes/Cuauhtémoc-el-último-emperador-azteca.jpg");
    background-color: #810000;
    background-repeat: no-repeat;
    background-size: 50% 8em;
    background-position: right;
    font-size: 1.5em;
    margin: 0;

}

.yo,.portafolio, .empresa, .contacto, .footer{
    border: 1px solid #4b5d67;
    border-radius: 1em;
}

