body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dddddd;
}

.contenedor{
    width: 90%;
    margin : 0 auto;
}

ul{
margin: 0;
padding: 0;
list-style: none;
}

figure{
    margin: 0;
}

.logo{
    align-self: center;
}


.cabecera{
    background-color: #0a0a0a ;
    display: flex;
    padding: 1em;
    margin-bottom: .1em;
    justify-content: space-between;
    height: 8em;
}

.menu{
    height: inherit;
}



.cabecera ul{
    display: flex;
    height: inherit;
}

.cabecera ul li{
    height: inherit;
}


.cabecera a{
    color:  #ffcb8e;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 1em;
}



.yo{
    display: flex;
    background-image: url("../imagenes/4055146.jpg");
    background-color:#000000 ;
    color: rgb(148, 148, 148);
    background-repeat: no-repeat;
    background-size: 50% 9em;
    background-position: right;
    font-size: 1.5em;
    margin-bottom: .1em;
}

.yo h1{
    margin: .5em;
}



.articulos{
    display: flex;
    flex-wrap: wrap;
}

.musica, .empresa, .otro, .otromas{
    box-sizing: border-box;
    width: 50%;
    background-color:#000000 ;
    color: rgb(148, 148, 148);
    border-bottom: whitesmoke .1em solid;
    padding: .5em;
}
    
.musica, .otro{
    border-right: whitesmoke .1em solid;
}



.contacto{
    display: flex;
    padding: 1em;
    margin-bottom: .1em;
    background-color:#000000 ;
    color: rgb(148, 148, 148);
}

.footer{
    display: flex;
    justify-content:space-evenly;
    background-color:#000000 ;
    color: rgb(148, 148, 148);
    
}








